{% set generator_gh_repo = generator_namespace ~ "/ansible-role-" ~ generator_role_name %}
{% set generator_gh_repo_url = "https://github.com/" ~ generator_gh_repo %}
{% set generator_ci_molecule_url = generator_gh_repo_url ~ "/actions/workflows/molecule.yml" %}
{% set generator_ci_galaxy_url= generator_gh_repo_url ~ "/actions/workflows/galaxy.yml" %}
{% set generator_galaxy_role = generator_namespace ~ "." ~ generator_role_name %}
{% set generator_galaxy_id = _generator_galaxy_id.stdout | default('unset') %}
{% macro _platform_versions(platform) %}
{% if platform.versions[0] == "all" %}
{{ generator_distribution_version_mapping[platform.name]["all"] | join(', ') }}
{% else %}
{{ platform.versions | join(', ') }}
{%- endif %}
{% endmacro %}
# Ansible Role: {{ generator_role_name }}
[![MIT Licensed][badge-license]][link-license]
[![Role {{ generator_galaxy_role }}][badge-role]][link-galaxy]
[![Role Version][badge-version]][link-version]
[![Commits since last version][badge-commits-since]][link-commits-since]
[![Galaxy Role Quality][badge-quality]][link-galaxy]
[![Galaxy Role Downloads][badge-downloads]][link-galaxy]
[![Github Actions Molecule workflow status][badge-molecule-workflow]][link-molecule-workflow]
[![Github Actions Galaxy workflow status][badge-galaxy-workflow]][link-galaxy-workflow]

{{ meta.galaxy_info.description }}

## Requirements
{% if generator_epel_required | bool %}

If you are using Enterprise Linux (CentOS, Rocky Linux, Alamlinux, RHEL, etc.), you need to install the EPEL repository. You can use the [`geerlingguy.repo-epel`](https://github.com/geerlingguy/ansible-role-repo-epel) role to do so.
{% endif %}

For right now, I only test this role using the latest release of the `ansible` pip package, which includes all the collections that are no longer part of `ansible-core`. This is the supported method. However, if you choose to use `ansible-core` or still use Ansible 2.9, you must manually install the following collections:
{% if meta.collections is defined and meta.collections is iterable %}
{% for collection in meta.collections %}
- {{ collection }}
{% endfor %}
{% endif %}

## Role Variables

{% if generator_install_methods.stat.exists | bool %}
{% include "install_methods.md" %}


----

{% endif %}
Here are this role's variables and their default values, as set in [`defaults/main.yml`][link-defaults]. If you'd like, you may change them to customize this role's behavior.

``` yaml
{{ generator_defaults.content | b64decode }}
```
{% if generator_links_md.content is defined %}

{{ generator_links_md.content | b64decode }}
{% endif %}

## Example Playbook
``` yaml
{{ generator_example_playbook.content | b64decode }}
```

## Compatibility
This role is compatible with the following distros:
|distro|versions|
|------|--------|
{% for platform in meta.galaxy_info.platforms %}
|{{ platform.name }}|{{ _platform_versions(platform) | regex_replace("\n")-}}|
{% endfor %}

## License
[MIT][link-license]

## Author
Maxwell G (@gotmax23)

[badge-license]: https://img.shields.io/github/license/{{ generator_gh_repo }}.svg
[link-license]: https://github.com/{{ generator_gh_repo }}/blob/main/LICENSE
[badge-role]: https://img.shields.io/ansible/role/{{ generator_galaxy_id }}.svg
[link-galaxy]: https://galaxy.ansible.com/{{ generator_namespace }}/{{ generator_role_name }}
[badge-version]: https://img.shields.io/github/release/{{ generator_gh_repo }}.svg
[link-version]: {{ generator_gh_repo_url }}/releases
[badge-commits-since]: https://img.shields.io/github/commits-since/{{ generator_gh_repo }}/latest.svg
[link-commits-since]: {{ generator_gh_repo_url }}/commits/main
[badge-quality]: https://img.shields.io/ansible/quality/{{ generator_galaxy_id }}.svg
[badge-downloads]: https://img.shields.io/ansible/role/d/{{ generator_galaxy_id }}.svg
[badge-molecule-workflow]: {{ generator_ci_molecule_url }}/badge.svg?branch=main
[link-molecule-workflow]: {{ generator_ci_molecule_url }}
[badge-galaxy-workflow]: {{ generator_ci_galaxy_url }}/badge.svg
[link-galaxy-workflow]: {{ generator_ci_galaxy_url }}
[link-defaults]: {{ generator_gh_repo_url }}/blob/main/defaults/main.yml
