---
#
# Ansible managed
#
extends: default

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length: disable

ignore: |
  .cache/
  .github/workflows/molecule.yml

# vim: set filetype=yaml:
